*{
    font-family: JetBrainsMono;
    font-size: 16px;
    min-height: 0;
    color: #DFD0B8;
}

window#waybar {
    background-color: transparent;
}

/*
---------------
    ARROWS
---------------
*/

#custom-arrow-right-decor1,
#custom-arrow-right-decor2,

#custom-arrow-left-decor1,
#custom-arrow-left-decor2,
#custom-arrow-left-decor3,

#custom-limiter-center-decor1,
#custom-limiter-center-decor2,
#custom-limiter-center-decor3,
#custom-limiter-center-decor4 {
    font-size: 24px;
}

/*
------------
   GROUPS
------------
*/

#clock_lang,
#cpu_memory {
    background: #393E46;
}

/* 
-------------
    LEFT
-------------
*/

/* ------ WORKSPACES ------ */
#workspaces {
    background: #222831;
    padding: 1px 5px 6px 5px;
}

#workspaces button{
    margin-right: 10px;
    padding: 1px 10px;
    border-radius: 1px;
    transition: border-bottom 1.2s;
}

#workspaces button.active, #workspaces button.focused{
    padding: 0 22px;  
    background: #939393;
    border-radius: 25px;
}

#workspaces button:hover {
    border-bottom: 2px solid #7f8fa7;
}

#custom-arrow-right-decor1 {
    border-left: 10px solid #222831;
    margin-left: -6px;
    color: #222831;
    padding-right: 10px;
    background: #393E46;
    text-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}

/* ------ WINDOW ------ */
#window {
    background: #393E46;
    padding-right: 10px;
}

#custom-arrow-right-decor2 {
    color: #393E46;
    text-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
    padding-right: 20px;
}

/*
---------------
    CENTER 
---------------
*/

/* ------ TRAY ------ */
#tray {
    padding: 0 10px 0 15px;
    background: #948979;
    border-radius: 0 0 0 20px;
}

/* ------ LANGUAGE ------ */
#language {
    padding: 0 10px 0 10px;
}

/* ------ CLOCK ------ */
#clock {
    padding: 0 10px 0 10px;
}

/* ------ ARCH LOGO ------ */
#custom-limiter-center-decor1,
#custom-limiter-center-decor2 {
    color: #222831;
    background: #393E46; 
}

#custom-limiter-center-decor3,
#custom-limiter-center-decor4 {
    color: #393E46;
    background: #948979;
}

#custom-arch {
    padding: 0 20px 0 15px;
    font-size: 25px;
    transition: color .5s;
    background: #222831;
}

#custom-arch:hover {
    color: #1793d1;
}

/* ------ CPU ------ */
#cpu {
    padding: 0 15px 0 10px;
}

/* ------ MEMORY ------ */
#memory {
    padding: 0 10px 0 10px;
}

/* ------ TEMPERATURE ------ */
#temperature {
    padding: 0 15px 0 10px;
    background: #948979;
    border-radius: 0 0 20px 0;
}

/*
--------------
    RIGHT 
--------------
*/

#custom-arrow-left-decor1,
#custom-arrow-left-decor2,
#custom-arrow-left-decor3 {
    text-shadow: -2px 0 2px rgba(0, 0, 0, 0.5);
}

/* ------ BATTERY ------ */
#battery {
    background: #222831;
    padding: 1px 10px 6px 5px;
}

#custom-arrow-left-decor1 {
    border-right: 10px solid #222831;
    margin-right: -6px;
    color: #222831;
    padding-left: 10px;
    background: #393E46;
}

/* ------ PULSEAUDIO ------ */
#pulseaudio {
    background: #393E46;
}

#custom-arrow-left-decor2 {
    color: #393E46;
    background: #948979;
    padding-left: 10px;
}

/* ------ NETWORK ------ */
#network {
    background: #948979;
}

#custom-arrow-left-decor3 {
    color: #948979;
    margin-right: 1px;
}
